<a href="https://colab.research.google.com/github/Marcelobhering/Desafio/blob/main/parte1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#### Pasta criada no google drive

In [4]:
!mkdir -p "/content/drive/MyDrive/Desafio/parte1"

In [ ]:
#### Download dos dados do UCI ML repository

In [6]:
!wget -P "/content/drive/MyDrive/Desafio/parte1" http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data

--2021-12-07 00:17:59--  http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 30286 (30K) [application/x-httpd-php]
Saving to: ‘/content/drive/MyDrive/Desafio/parte1/auto-mpg.data’

auto-mpg.data       100%[===================>]  29.58K  --.-KB/s    in 0.06s

2021-12-07 00:17:59 (481 KB/s) - ‘/content/drive/MyDrive/Desafio/parte1/auto-mpg.data’ saved [30286/30286]

In [ ]:
### Os dados fazem referencia ao consumo de combustível em milha

In [23]:
#### Importando bibliotecas 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
# definição dos nomes das colunas 
cols = ['MPG','Cylinders','Displacement','Horsepower','Weight',
                'Acceleration', 'Model Year', 'Origin']
pd.read_csv("/content/drive/MyDrive/Desafio/parte1/auto-mpg.data"
, names=cols, na_values = "?",
                comment = '\t',
                sep= " ",
                skipinitialspace=True)

      MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
0    18.0          8         307.0  ...          12.0          70       1
1    15.0          8         350.0  ...          11.5          70       1
2    18.0          8         318.0  ...          11.0          70       1
3    16.0          8         304.0  ...          12.0          70       1
4    17.0          8         302.0  ...          10.5          70       1
..    ...        ...           ...  ...           ...         ...     ...
393  27.0          4         140.0  ...          15.6          82       1
394  44.0          4          97.0  ...          24.6          82       2
395  32.0          4         135.0  ...          11.6          82       1
396  28.0          4         120.0  ...          18.6          82       1
397  31.0          4         119.0  ...          19.4          82       1

[398 rows x 8 columns]

In [35]:
df = pd.read_csv("/content/drive/MyDrive/Desafio/parte1/auto-mpg.data")
data = df.copy()

## verificar as informações dos dados
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 1 columns):
 #   Column                                                                                Non-Null Count  Dtype
---  ------                                                                                --------------  -----
 0   18.0   8   307.0      130.0      3504.      12.0   70  1	"chevrolet chevelle malibu"  397 non-null    object
dtypes: object(1)
memory usage: 3.2+ KB

In [36]:
##Verificando todos os valores nulos
data.isnull().sum()

18.0   8   307.0      130.0      3504.      12.0   70  1\t"chevrolet chevelle malibu"    0
dtype: int64

In [38]:
## Estatísticas resumidas de variáveis quantitativas
data.describe()

       18.0   8   307.0      130.0      3504.      12.0   70  1\t"chevrolet chevelle malibu"
count                                                 397
unique                                                397
top     35.7   4   98.00      80.00      1915.      14...
freq                                                    1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')